# dotenv configuration file example
# Copy this file to .env and replace the values with your actual configuration
# Note: This file contains sensitive information, DO NOT commit your actual .env file to version control

# Used to set `site` in Astro config (which sitemap relies on as well)
VITE_BASE_URL=https://example.com

# Activates debug features in dev mode, only is the value is literally "true"
VITE_DEBUG="true"

# Used for homepage secret link UI
# Must be prefixed with VITE_ to be accessible in browser code
VITE_PUBLIC_API_BASE_URL=https://dev.onetime.dev

# See sentry.server.config.ts
SENTRY_DSN=public_dsn
SENTRY_ORG=exampleorg
SENTRY_AUTH_TOKEN=
SENTRY_PROJECT=

# See sentry.client.config.ts
CLIENT_SENTRY_DSN=public_dsn
CLIENT_SENTRY_ORG=exampleorg
CLIENT_SENTRY_AUTH_TOKEN=
CLIENT_SENTRY_PROJECT=
