---
// src/pages/fr/about.astro

import Layout from "@/layouts/Layout.astro";
import content from "@/locales/fr.json";

// Define a base URL for hreflang links
const canonicalBaseUrl = "https://onetimesecret.com";
---

<Layout
  title=""
  description="">
  <body>
    <h1>{content.web.about.title}</h1>
    <h2>À propos de nous</h2>
    <div set:html={content.web.about.content} />
  </body>
</Layout>
