---
// src/pages/fr/about.astro

import Layout from "@/layouts/Layout.astro";
const content = JSON.parse(
  readFileSync(new URL("@/locales/fr.json", import.meta.url), "utf-8"),
);
---

<Layout
  title=""
  description="">
  <body>
    <h1>{content.web.about.title}</h1>
    <div set:html={content.web.about.content} />
  </body>
</Layout>
