---
// src/pages/[lang]/about.astro

import Layout from "@/layouts/Layout.astro";
import "@/i18n";

import StaticPageNavigation from "@/components/layouts/static/StaticPageNavigation.vue";
import StaticPageContent from "@/components/layouts/static/StaticPageContent.vue";
import MarkdownContent from "@/components/layouts/static/MarkdownContent.vue";
import AboutContent from "@/components/about/AboutContent.vue";
import content from "@/locales/en.json";

import { getLanguagePaths } from "@config/astro/i18n";

export async function getStaticPaths() {
  return getLanguagePaths();
}

const { lang } = Astro.params;
---

<Layout
  title="About Us | Onetime Secret"
  description="Learn about Onetime Secret, our mission to provide secure one-time sharing, and the team behind our service.">
  <div class="flex min-h-screen flex-col bg-white dark:bg-gray-900">
    <StaticPageNavigation client:load />
    <StaticPageContent
      title="About Us"
      withNavPadding={true}
      client:load>
      <AboutContent />
    </StaticPageContent>
  </div>
</Layout>
