---
// src/pages/privacy.astro

import Layout from "@/layouts/Layout.astro";
import "@/i18n";
import { getLanguagePaths } from "@config/astro/i18n";

export async function getStaticPaths() {
  return getLanguagePaths();
}

// Directly copied from our site-policy repo:
// https://github.com/onetimesecret/site-policy/blob/main/onetime-terms-of-service.md
import { Content, frontmatter } from "@/content/pages/privacy.md";

const { lang } = Astro.params;
---

<Layout
  title={`${frontmatter.title} | Onetime Secret`}
  description="Our privacy policy explains how we handle your information when using Onetime Secret.">
  <div class="flex min-h-screen flex-col bg-white dark:bg-gray-900">
    <Content />
  </div>
</Layout>
