---
// src/pages/terms.astro

import Layout from "@/layouts/Layout.astro";
import "@/i18n";

import { getLanguagePaths } from "@/i18n";

export async function getStaticPaths() {
  return getLanguagePaths();
}

/*
 * Markdown imports provide several properties:
 * - file: absolute path (/path/to/file.md)
 * - url: page URL (/en/guides/markdown-content)
 * - frontmatter: YAML/TOML data from the document
 * - <Content />: component for rendering the full content
 * - rawContent(): returns raw Markdown as string
 * - compiledContent(): returns Markdown compiled to HTML string
 * - getHeadings(): returns heading array with depth, slug, and text
 */

// Directly copied from our site-policy repo:
// https://github.com/onetimesecret/site-policy/blob/main/onetime-terms-of-service.md
import { Content, frontmatter } from "@/content/pages/terms.md";

const { lang } = Astro.params;
---

<Layout
  title={`${frontmatter.title} | Onetime Secret`}
  description="Our terms of service explain the rules and regulations for using Onetime Secret.">
  <div class="flex min-h-screen flex-col bg-white dark:bg-gray-900">
    <!-- $t('terms-of-service') -->
    <Content />
  </div>
</Layout>
