---
import FooterLinkLists from "../components/layouts/FooterLinkLists.vue";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Onetime Secret",
  description = "Share sensitive information securely with one-time viewable links.",
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="light h-full">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="color-scheme"
      content="dark light"
    />
    <title>{title}</title>
  </head>
  <body class="h-full bg-white">
    <slot />

    <FooterLinkLists />
  </body>
</html>
