---
import CarbonSprites from "@/components/icons/CarbonSprites.vue";
import FontAwesome6Sprites from "@/components/icons/FontAwesome6Sprites.vue";
import HeroiconsSprites from "@/components/icons/HeroiconsSprites.vue";
import MaterialSymbolsSprites from "@/components/icons/MaterialSymbolsSprites.vue";
import MdiSprites from "@/components/icons/MdiSprites.vue";
import PhosphorSprites from "@/components/icons/PhosphorSprites.vue";
import TablerSprites from "@/components/icons/TablerSprites.vue";
import FooterLinkLists from "../components/layouts/FooterLinkLists.vue";
import FooterSignOff from "../components/layouts/FooterSignOff.vue";

export interface Props {
  title?: string;
  description?: string;
  // Define windowProps structure if needed, or pass it dynamically
  windowProps?: {
    support_host?: string;
  };
}

const {
  title = "Onetime Secret",
  description = "Share sensitive information securely with one-time viewable links.",
  windowProps = {
    support_host: "https://support.onetimesecret.com",
  },
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="color-scheme"
      content="dark light"
    />
    <title>{title}</title>
  </head>
  <body class="flex h-full flex-col bg-white dark:bg-gray-900">
    <!-- All along the watch tower -->
    <div class="bg-brand-500 fixed top-0 left-0 z-50 h-1 w-full"></div>

    <div class="flex-grow">
      <slot />
    </div>

    <footer class="bg-white dark:bg-gray-900">
      <FooterLinkLists
        windowProps={windowProps}
        client:load
      />
      <FooterSignOff client:load />
    </footer>
  </body>
  <div
    id="sprites"
    class="hidden">
    <HeroiconsSprites />
    <CarbonSprites />
    <FontAwesome6Sprites />
    <MdiSprites />
    <MaterialSymbolsSprites />
    <TablerSprites />
    <PhosphorSprites />
  </div>
</html>
